header {
  display: flex;
  justify-content: space-between;
}
ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: -4px;
  padding: 10px;
  border-right: 1px solid white;
}

ul li a{
  text-decoration: none;
  color: gray
}
